body{
    font-size: 16px; 
    margin: 0px auto;
    max-width: 1024px;
    min-width: 1024px;
}

header nav{
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

header nav ul li {
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 4px;
}

#logo{
    display: block;
}

#red1{
    float: right;
    padding-left: 6px;
}
#red2{
    float: right;
    padding-left: 6px;
}
#red3{
    float: right;
    padding-left: 6px;
}

#thema{
    width: 250px;
    padding-bottom: 15px;
}

#secction01{
    background-color: white;
}

#secc01art01 img{
    margin-top: 10px;
    border-bottom: gray 1px solid;
}
#secction02{
    float: right;
    background-color:ghostwhite;
    border: gray 1px solid;
    border-radius: 8px;
    padding-bottom: 4px;
    margin-right: 60px;
    margin-top: -265px; 
}
#secc02art02{
    margin-left: 10px;
}


#secc02nav01{
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

#secction03 {
    margin-top: 20px;
    /*border: red 2px solid;*/
    margin-right: 420px;
    display: inline-block;
    border-bottom: grey 1px solid;
    padding-bottom: 8px;
    /*padding-right: 250px;*/
}
#secction03 article span{
    font-size: 2em;
    font-weight: bold;
    color: gray;

}
#secction03 article input[type=submit]{
    margin-top: 70px;
    border-radius: 8px; 
   
}

#secction03 article img{
    float: left;
    border: lightgrey 8px solid;
}
#secction03 article div{
    /*border:blue 2px solid;*/
    margin-left: 190px;
}
#secction03 article nav{
    background-color: lightgray;
    border-radius: 8px; 
    padding-left: 8px;   
    padding-top: 2px;
    padding-bottom: 2px;
}
#secction03 article div input{
    background: lightgray;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}


#secction04 {
    float: right;
    background-color:ghostwhite;
    padding-bottom: 5px;
    margin-right: 60px;
    margin-top: -210px;   
    border: gray 1px solid;
    border-radius: 8px;
}
#secction04 nav{
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 20px ;
}
#secction04 form{
    
    border: gray 1px solid;
    border-radius: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}
#secction04 form input{
    border-radius: 16px;
    margin-left: 15px;
}


#secction05 {
    float: right;
    background-color:ghostwhite;
    border: gray 1px solid;
    border-radius: 8px;
    padding-bottom: 3px;
    margin-right: 60px;
    margin-top: -100px;   
}
#secction05 nav{
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 20px ;
}
.separador{
    list-style: none;
}
.separador::before{
    color: black;
    content: "-----------------------------------------------";
    
}

.navnaranja{
    background-color: chocolate;
    color: white;
}
.navletra{
    color: white;
    font-size: 1em;
}
.navredondito{
    border-radius: 8px;
}







